## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [45]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [46]:
# Your code here

sample_list_1=random.sample(range(100),80)
print(sample_list_1)

[5, 67, 74, 84, 78, 16, 57, 88, 89, 68, 11, 19, 99, 0, 2, 97, 28, 50, 37, 21, 23, 91, 45, 18, 22, 77, 96, 35, 4, 6, 46, 93, 17, 61, 79, 51, 81, 14, 13, 42, 76, 62, 70, 41, 29, 32, 31, 8, 39, 59, 3, 26, 63, 94, 86, 38, 60, 24, 64, 56, 87, 54, 9, 15, 52, 75, 44, 30, 83, 71, 98, 80, 20, 65, 66, 95, 7, 55, 43, 49]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [47]:
# Your code here
set1=set(sample_list_1)
print(set1)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 32, 35, 37, 38, 39, 41, 42, 43, 44, 45, 46, 49, 50, 51, 52, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 89, 91, 93, 94, 95, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [48]:
# Your code here
sample_list_2x= []
for i in range(100):
    sample_list_2x.append(random.randint(0,100))
sample_list_2= (sample_list_2x[0:80])
print(sample_list_2)

[22, 79, 34, 79, 23, 36, 5, 22, 42, 34, 31, 67, 51, 58, 41, 62, 88, 66, 64, 86, 79, 18, 52, 81, 100, 47, 76, 66, 78, 72, 17, 65, 74, 96, 69, 11, 13, 53, 0, 92, 96, 39, 86, 98, 45, 88, 73, 63, 65, 38, 56, 98, 11, 79, 53, 4, 46, 22, 15, 41, 42, 89, 69, 79, 77, 65, 44, 67, 4, 23, 56, 63, 49, 95, 11, 61, 14, 28, 16, 76]

 Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [54]:
# Your code here

set2=set(sample_list_2)
print(len(set2))
print(set2)

#length is no the same 51 vs 80

54
{0, 4, 5, 11, 13, 14, 15, 16, 17, 18, 22, 23, 28, 31, 34, 36, 38, 39, 41, 42, 44, 45, 46, 47, 49, 51, 52, 53, 56, 58, 61, 62, 63, 64, 65, 66, 67, 69, 72, 73, 74, 76, 77, 78, 79, 81, 86, 88, 89, 92, 95, 96, 98, 100}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [50]:
# Your code here
setI=set.intersection(set1,set2)
set3=set1-setI
print(set3)

{2, 3, 6, 7, 8, 9, 19, 20, 21, 24, 26, 29, 30, 32, 35, 37, 43, 50, 54, 55, 57, 59, 60, 68, 70, 71, 75, 80, 83, 84, 87, 91, 93, 94, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [51]:
# Your code here
set4=set2-setI
print(set4)

{34, 36, 69, 100, 72, 73, 47, 53, 58, 92}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [52]:
# Your code here
set5=setI
print(set5)

{0, 4, 5, 11, 13, 14, 15, 16, 17, 18, 22, 23, 28, 31, 38, 39, 41, 42, 44, 45, 46, 49, 51, 52, 56, 61, 62, 63, 64, 65, 66, 67, 74, 76, 77, 78, 79, 81, 86, 88, 89, 95, 96, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [53]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
54
36
10
44

#### Create an empty set called `set6`.

In [60]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [63]:
# Your code here
set6.update(set5,set3)
print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 32, 35, 37, 38, 39, 41, 42, 43, 44, 45, 46, 49, 50, 51, 52, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 89, 91, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [64]:
# Your code here
set1==set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [67]:
# Your code here
z=set1.issubset(set2)
print(z)
y=set1.issubset(set3)
print(y)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [71]:
# Your code here
y=set3.union(set4,set5)
print(y)
z=set1.union(set2)
print(z)
z==y

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

True

#### Using the `pop` method, remove the first element from `set1`.

In [85]:
x=list(set1)
set1A=x.pop(1)
print(set1A)
print(x)

2
[0, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [93]:
# Your code here
list_to_remove=[1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
setX=set(list_to_remove)
x=set1-setX
print(x)

{0, 2, 3, 4, 5, 6, 7, 8, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 28, 30, 32, 34, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 83, 84, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98, 100}