In [2]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd

In [3]:
conection_string = 'sqlite:///publications.db'
conection_string

'sqlite:///publications.db'

In [4]:
engine=create_engine(conection_string)

In [5]:
engine

Engine(sqlite:///publications.db)

In [6]:
inspector=inspect(engine)
inspector.get_table_names()

['authors',
 'discounts',
 'employee',
 'jobs',
 'pub_info',
 'publishers',
 'roysched',
 'sales',
 'stores',
 'titleauthor',
 'titles']

In [7]:
# CHALLENGE1: Most profiting authors
#Step 1: Calculate the royalty of each sale for each author and the advance for each author and publication

In [8]:
var1='''
SELECT authors.au_id AS 'AUTHOR ID',
ti.title_id AS 'TITLE ID',
(ti.advance * t.royaltyper)/100 AS 'ADVANCE',
(ti.price * s.qty * (ti.royalty)*(t.royaltyper))/100 AS 'ROYALTY'
FROM authors
INNER JOIN titles ti ON ti.title_id=t.title_id
INNER JOIN titleauthor t ON authors.au_id=t.au_id
LEFT JOIN sales s ON s.title_id=ti.title_id
'''
ST1=pd.read_sql_query(var1, engine)

In [9]:
#MIRAR PORQUE SALE 0 EN ROYALTY!!!!!
ST1

      AUTHOR ID TITLE ID  ADVANCE  ROYALTY
0   172-32-1176   PS3333   2000.0   2998.5
1   213-46-8915   BU1032   2000.0    399.8
2   213-46-8915   BU1032   2000.0    799.6
3   213-46-8915   BU2075  10125.0   2511.6
4   238-95-7766   PC1035   7000.0  11016.0
5   267-41-2394   BU1111   2000.0   1195.0
6   267-41-2394   TC7777   2400.0    899.4
7   274-80-9391   BU7832   5000.0   2998.5
8   409-56-7008   BU1032   3000.0    599.7
9   409-56-7008   BU1032   3000.0   1199.4
10  427-17-2319   PC8888   4000.0   5000.0
11  472-27-2349   TC7777   2400.0    899.4
12  486-29-1786   PC9999      NaN      NaN
13  486-29-1786   PS7777   4000.0   1997.5
14  648-92-1872   TC4203   4000.0   3346.0
15  672-71-3249   TC7777   3200.0   1199.2
16  712-45-1867   MC2222      0.0   2398.8
17  722-51-5454   MC3021  11250.0   1345.5
18  722-51-5454   MC3021  11250.0    807.3
19  724-80-9391   BU1111   3000.0   1792.5
20  724-80-9391   PS1372   1750.0   1079.5
21  756-30-7391   PS1372   5250.0   3238.5
22  807-91-6654   TC3218   7000.0   8380.0
23  846-92-7186   PC8888   4000.0   5000.0
24  899-46-2035   MC3021   3750.0    448.5
25  899-46-2035   MC3021   3750.0    269.1
26  899-46-2035   PS2091   1137.0    197.1
27  899-46-2035   PS2091   1137.0   4927.5
28  899-46-2035   PS2091   1137.0    657.0
29  899-46-2035   PS2091   1137.0   1314.0
30  998-72-3567   PS2091   1137.0    197.1
31  998-72-3567   PS2091   1137.0   4927.5
32  998-72-3567   PS2091   1137.0    657.0
33  998-72-3567   PS2091   1137.0   1314.0
34  998-72-3567   PS2106   6000.0   1750.0

In [10]:
var2='''
SELECT sub.'AUTHOR ID',Sub.'TITLE ID',sub.'ROYALTY'
FROM(SELECT authors.au_id AS 'AUTHOR ID',
ti.title_id AS 'TITLE ID',
(ti.advance * t.royaltyper)/100 AS 'ADVANCE',
SUM((ti.price * s.qty * (ti.royalty)*(t.royaltyper))/100) AS 'ROYALTY'
FROM authors
INNER JOIN titles ti ON ti.title_id=t.title_id
INNER JOIN titleauthor t ON authors.au_id=t.au_id
LEFT JOIN sales s ON s.title_id=ti.title_id
GROUP BY authors.au_id
)sub
'''
ST2=pd.read_sql_query(var2, engine)

In [11]:
ST2

      AUTHOR ID TITLE ID  ROYALTY
0   172-32-1176   PS3333   2998.5
1   213-46-8915   BU1032   3711.0
2   238-95-7766   PC1035  11016.0
3   267-41-2394   BU1111   2094.4
4   274-80-9391   BU7832   2998.5
5   409-56-7008   BU1032   1799.1
6   427-17-2319   PC8888   5000.0
7   472-27-2349   TC7777    899.4
8   486-29-1786   PC9999   1997.5
9   648-92-1872   TC4203   3346.0
10  672-71-3249   TC7777   1199.2
11  712-45-1867   MC2222   2398.8
12  722-51-5454   MC3021   2152.8
13  724-80-9391   BU1111   2872.0
14  756-30-7391   PS1372   3238.5
15  807-91-6654   TC3218   8380.0
16  846-92-7186   PC8888   5000.0
17  899-46-2035   MC3021   7813.2
18  998-72-3567   PS2091   8845.6

In [12]:
var3='''
SELECT sub.'AUTHOR ID',sub.'ADVANCE',sub.'ROYALTY' 
FROM(SELECT authors.au_id AS 'AUTHOR ID',
ti.title_id AS 'TITLE ID',
(ti.advance * t.royaltyper)/100 AS 'ADVANCE',
SUM((ti.price * s.qty * (ti.royalty)*(t.royaltyper))/100) AS 'ROYALTY'
FROM authors
INNER JOIN titles ti ON ti.title_id=t.title_id
INNER JOIN titleauthor t ON authors.au_id=t.au_id
LEFT JOIN sales s ON s.title_id=ti.title_id
GROUP BY authors.au_id)sub

'''
ST3=pd.read_sql_query(var3, engine)

In [13]:
ST3

      AUTHOR ID  ADVANCE  ROYALTY
0   172-32-1176   2000.0   2998.5
1   213-46-8915   2000.0   3711.0
2   238-95-7766   7000.0  11016.0
3   267-41-2394   2000.0   2094.4
4   274-80-9391   5000.0   2998.5
5   409-56-7008   3000.0   1799.1
6   427-17-2319   4000.0   5000.0
7   472-27-2349   2400.0    899.4
8   486-29-1786      NaN   1997.5
9   648-92-1872   4000.0   3346.0
10  672-71-3249   3200.0   1199.2
11  712-45-1867      0.0   2398.8
12  722-51-5454  11250.0   2152.8
13  724-80-9391   3000.0   2872.0
14  756-30-7391   5250.0   3238.5
15  807-91-6654   7000.0   8380.0
16  846-92-7186   4000.0   5000.0
17  899-46-2035   3750.0   7813.2
18  998-72-3567   1137.0   8845.6

In [16]:
#Challenge 2 DA PROBLEMAS EL AS Y DEBE SER ALGO HABITUAL
temp_var1 = ''' 
CREATE TEMPORARY TABLE AS 'PROFIT_AU',
WITH( a (AUTHOR_ID, TITLE_ID, ADVANCE, ROYALTY) 
    AS
    (SELECT authors.au_id AS 'AUTHOR ID',
    ti.title_id AS 'TITLE ID',
    (ti.advance * t.royaltyper)/100 AS 'ADVANCE',
    SUM((ti.price * s.qty * (ti.royalty)*(t.royaltyper))/100) AS 'ROYALTY'
    FROM authors
        INNER JOIN titles ti ON ti.title_id=t.title_id
        INNER JOIN titleauthor t ON authors.au_id=t.au_id
        LEFT JOIN sales s ON s.title_id=ti.title_id
        GROUP BY authors.au_id),

    b (TITLE_ID, AUTHOR_ID, AGG_ROYALTY, AGG_ADVANCE)
    AS 
    (SELECT 
    a.TITLE_ID, 
    a.AUTHOR_ID,
    SUM(r.ROYALTY) AS 'AGG_ROYALTY',
    SUM (r.ADVANCE) AS 'AGG_ADVANCE'
    FROM a
    GROUP BY a.AUTHOR_ID, a.TITLE_ID),

    c (AUTHOR_ID, PROFIT)
    AS
    (SELECT
    b.AUTHOR_ID,
    b.AGG_ROYALTY + b.AGG_ADVANCE AS PROFIT
    FROM b))

    SELECT
    c.AUTHOR_ID AS 'AUTHOR_ID',
    SUM(c.PROFIT) AS 'TOTAL_PROFIT'
    FROM c
    GROUP BY AUTHOR_ID
    ORDER BY TOTAL_PROFIT DESC
    LIMIT 3 '''

ST4=pd.read_sql_query(temp_var1, engine)

OperationalError: (sqlite3.OperationalError) near "AS": syntax error
[SQL:
CREATE TEMPORARY TABLE AS 'PROFIT_AU',
WITH( a (AUTHOR_ID, TITLE_ID, ADVANCE, ROYALTY)
    AS
    (SELECT authors.au_id AS 'AUTHOR ID',
    ti.title_id AS 'TITLE ID',
    (ti.advance * t.royaltyper)/100 AS 'ADVANCE',
    SUM((ti.price * s.qty * (ti.royalty)*(t.royaltyper))/100) AS 'ROYALTY'
    FROM authors
        INNER JOIN titles ti ON ti.title_id=t.title_id
        INNER JOIN titleauthor t ON authors.au_id=t.au_id
        LEFT JOIN sales s ON s.title_id=ti.title_id
        GROUP BY authors.au_id),

    b (TITLE_ID, AUTHOR_ID, AGG_ROYALTY, AGG_ADVANCE)
    AS
    (SELECT
    a.TITLE_ID,
    a.AUTHOR_ID,
    SUM(r.ROYALTY) AS 'AGG_ROYALTY',
    SUM (r.ADVANCE) AS 'AGG_ADVANCE'
    FROM a
    GROUP BY a.AUTHOR_ID, a.TITLE_ID),

    c (AUTHOR_ID, PROFIT)
    AS
    (SELECT
    b.AUTHOR_ID,
    b.AGG_ROYALTY + b.AGG_ADVANCE AS PROFIT
    FROM b))

    SELECT
    c.AUTHOR_ID AS 'AUTHOR_ID',
    SUM(c.PROFIT) AS 'TOTAL_PROFIT'
    FROM c
    GROUP BY AUTHOR_ID
    ORDER BY TOTAL_PROFIT DESC
    LIMIT 3 ]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
#Challenge 3
most_profiting_authors='''
SELECT *
INTO dbo.most_profiting_authors
FROM temp_var1'''