In [33]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd

In [38]:
conection_string = 'sqlite:///publications.db'
conection_string

'sqlite:///publications.db'

In [39]:
engine=create_engine(conection_string)

In [40]:
engine

Engine(sqlite:///publications.db)

In [41]:
inspector=inspect(engine)
inspector.get_table_names()

['authors',
 'discounts',
 'employee',
 'jobs',
 'pub_info',
 'publishers',
 'roysched',
 'sales',
 'stores',
 'titleauthor',
 'titles']

In [ ]:
# CHALLENGE1: Most profiting authors
#Step 1: Calculate the royalty of each sale for each author and the advance for each author and publication

In [50]:
var1='''
SELECT authors.au_id AS 'AUTHOR ID',
ti.title_id AS 'TITLE ID',
ti.advance as 'ADVANCE'
FROM authors
INNER JOIN titles ti ON ti.title_id=t.title_id
INNER JOIN titleauthor t ON authors.au_id=t.au_id
'''

ST1=pd.read_sql_query(var1, engine)

In [49]:
ST1

      AUTHOR ID TITLE ID  ADVANCE
0   172-32-1176   PS3333   2000.0
1   213-46-8915   BU1032   5000.0
2   238-95-7766   PC1035   7000.0
3   267-41-2394   BU1111   5000.0
4   274-80-9391   BU7832   5000.0
5   409-56-7008   BU1032   5000.0
6   427-17-2319   PC8888   8000.0
7   472-27-2349   TC7777   8000.0
8   486-29-1786   PC9999      NaN
9   648-92-1872   TC4203   4000.0
10  672-71-3249   TC7777   8000.0
11  712-45-1867   MC2222      0.0
12  722-51-5454   MC3021  15000.0
13  724-80-9391   BU1111   5000.0
14  756-30-7391   PS1372   7000.0
15  807-91-6654   TC3218   7000.0
16  846-92-7186   PC8888   8000.0
17  899-46-2035   MC3021  15000.0
18  998-72-3567   PS2091   2275.0